@model IEnumerable<Certificate>
@{
    Layout = null;
}

<div class="container">
    <header class="section-header">
        <span>Sertifikalar</span>
        <h2>Sertifika Bilgileri</h2>
    </header>
    <div class="row">
        <div class="col-xs-12">
            <div class="item-block">
                <div class="item-form">
                    <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>
                    @foreach (var item in Model)
                    {
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                              <span class="input-group-addon">Sertifika adı</span>
                              @item.Name
                            </div>
                            <div class="form-group">
                                <span class="input-group-addon">Alındığı Kurum</span>
                                @item.Issuer
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Alındığı Tarih</span>
                                    @item.IssueDate
                                    <span class="input-group-addon">Sertifika Dosyası</span>
                                    @item.CertificateFile
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <br>
            <button id="btnAdd" type="button" onclick="AddCertificate()" class="btn btn-primary btn-duplicator">Sertifika Ekle</button>
        </div>
    </div>
</div>
