@model Resume
@{
    ViewData["Title"] = "Create";
}

 <!-- Page header -->
<form asp-action="Create" method="post">
    <header class="page-header">
        <div class="container page-name">
            <h1 class="text-center">Özgeçmişinizi Oluşturun</h1>
            <p class="lead text-center">Özgeçmişinizi oluşturun ve yayınlayın.</p>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <input type="file" class="dropify" data-default-file="assets/img/avatar.jpg">
                        <span class="help-block">Please choose a 4:6 profile picture.</span>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-8">
                    <div class="form-group">
                        <input asp-for="FullName" type="text" class="form-control input-lg" placeholder="Ad">
                    </div>
                    <div class="form-group">
                        <input asp-for="Title" type="text" class="form-control" placeholder="Başlık (Bkz. Yazılım Uzmanı)">
                    </div>

                    <div class="form-group">
                        <textarea asp-for="Notes" class="form-control" rows="3" placeholder="Eklemek İstediğiniz Notlar"></textarea>
                    </div>

                    <hr class="hr-lg">

                    <h6>Temel Bilgiler</h6>
                    <div class="row">

                        <div class="form-group col-xs-12 col-sm-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                <input asp-for="Location" type="text" class="form-control" placeholder="Lokasyon, Bkz. İSTANBUL, TR">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                                <input asp-for="WebAddress" type="text" class="form-control" placeholder="Web Sayfası">
                            </div>
                        </div>

                        <!--<div class="form-group col-xs-12 col-sm-6">
                          <div class="input-group input-group-sm">
                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                            <input type="text" class="form-control" placeholder="Salary, e.g. 85">
                            <span class="input-group-addon">Per hour</span>
                          </div>
                        </div>-->

                        <div class="form-group col-xs-12 col-sm-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                                <input asp-for="BirthDate" type="text" class="form-control" placeholder="Yaş">
                                <span class="input-group-addon">Yaşında</span>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input asp-for="Phone" type="text" class="form-control" placeholder="Telefon Numarası">
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-6">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input asp-for="Email" type="text" class="form-control" placeholder="E-Posta">
                            </div>
                        </div>

                    </div>

                    <hr class="hr-lg">

                    <h6>Etiket Listesi</h6>
                    <div class="form-group">
                        <input asp-for="ResumeTags" type="text" value="HTML,CSS,Javascript" data-role="tagsinput" placeholder="Etiket">
                        <span class="help-block">Etiketinizi yazın ve Enter'a basın.</span>
                    </div>

                </div>
            </div>

            <div class="button-group">
                <div class="action-buttons">

                    <div class="upload-button">
                        <button class="btn btn-block btn-gray">Bir özgeçmiş dosyası seçin</button>
                        <input asp-for="ResumeFile" type="file">
                    </div>

                    <div class="upload-button">
                        <button class="btn btn-block btn-primary">Bir resim seçin</button>
                        <input id="cover_img_file" type="file">
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- END Page header -->
    <!-- Main container -->
    <main>


        <!-- Social media -->
        <section>
            <div class="container">

                <header class="section-header">
                    <span>Bağlantılarınız</span>
                    <h2>Sosyal Medya</h2>
                </header>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                <input asp-for="Facebook" type="text" class="form-control" placeholder="Profil URL">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                                <input asp-for="GooglePlus" type="text" class="form-control" placeholder="Profil URL">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dribbble"></i></span>
                                <input asp-for="Dribbble" type="text" class="form-control" placeholder="Profil URL">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pinterest"></i></span>
                                <input type="text" class="form-control" placeholder="Profil URL">
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                <input type="text" class="form-control" placeholder="Profil URL">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-github"></i></span>
                                <input type="text" class="form-control" placeholder="Profil URL">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-instagram"></i></span>
                                <input type="text" class="form-control" placeholder="Profil URL">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-youtube"></i></span>
                                <input type="text" class="form-control" placeholder="Profil URL">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Social media -->
        <!-- Education -->
        <section class=" bg-alt">
            <div class="container">

                <header class="section-header">
                    <span>Eğitim Durumu</span>
                    <h2>Eğitim Bilgileri</h2>
                </header>

                <div class="row">

                    <div class="col-xs-12">
                        <div class="item-block">
                            <div class="item-form">

                                <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <input type="file" class="dropify" data-default-file="assets/img/logo-default.png">
                                            <span class="help-block">Please choose a square logo</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Eğitim Düzeyi, Bkz. Lisans Mezunu">
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Bölüm, Bkz. Bilgisayar Mühendisliği">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Okul Adı, Bkz. Yıldız Teknik Üniversitesi">
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Başlangıç tarihi</span>
                                                <input type="text" class="form-control" placeholder="bkz. 2012">
                                                <span class="input-group-addon">Biriş tarihi</span>
                                                <input type="text" class="form-control" placeholder="bkz. 2016">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <textarea class="form-control" rows="3" placeholder="Eklemek İstediğiniz Notlar"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 duplicateable-content">
                        <div class="item-block">
                            <div class="item-form">

                                <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <input type="file" class="dropify" data-default-file="assets/img/logo-default.png">
                                            <span class="help-block">Please choose a square logo</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Degree, e.g. Bachelor">
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Major, e.g. Computer Science">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="School name, e.g. Massachusetts Institute of Technology">
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Date from</span>
                                                <input type="text" class="form-control" placeholder="e.g. 2012">
                                                <span class="input-group-addon">Date to</span>
                                                <input type="text" class="form-control" placeholder="e.g. 2016">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <textarea class="form-control" rows="3" placeholder="Short description"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 text-center">
                        <br>
                        <button class="btn btn-primary btn-duplicator">KAYDET</button>
                    </div>


                </div>
            </div>
        </section>
        <!-- END Education -->
        <!-- Work Experience -->
        <section>
            <div class="container">
                <header class="section-header">
                    <span>Past positions</span>
                    <h2>İş Deneyimi</h2>
                </header>

                <div class="row">

                    <div class="col-xs-12">
                        <div class="item-block">
                            <div class="item-form">

                                <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <input type="file" class="dropify" data-default-file="assets/img/logo-default.png">
                                            <span class="help-block">Lütfen bir fotoğraf seçin</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Firma Adı">
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Pozisyon">
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Başlangıç tarihi</span>
                                                <input type="text" class="form-control" placeholder=" 2012">
                                                <span class="input-group-addon">Bitiş tarihi</span>
                                                <input type="text" class="form-control" placeholder=" 2016">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <textarea class="summernote-editor"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 duplicateable-content">
                        <div class="item-block">
                            <div class="item-form">

                                <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="form-group">
                                            <input type="file" class="dropify" data-default-file="assets/img/logo-default.png">
                                            <span class="help-block">Please choose a square logo</span>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-8">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Company name">
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Position, e.g. UI/UX Researcher">
                                        </div>

                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">Date from</span>
                                                <input type="text" class="form-control" placeholder="e.g. 2012">
                                                <span class="input-group-addon">Date to</span>
                                                <input type="text" class="form-control" placeholder="e.g. 2016">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <textarea class="summernote-editor"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 text-center">
                        <br>
                        <button class="btn btn-primary btn-duplicator">KAYDET</button>
                    </div>


                </div>

            </div>
        </section>
        <!-- END Work Experience -->
        <!-- Skills -->
        <section class=" bg-alt">
            <div class="container">
                <header class="section-header">
                    <span>Uzmanlık Alanları</span>
                    <h2>Yetenekler</h2>
                </header>

                <div class="row">

                    <div class="col-xs-12">
                        <div class="item-block">
                            <div class="item-form">

                                <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Yetenek, bkz. HTML">
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6">

                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Yetenek seviyesi, bkz. 90">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 duplicateable-content">
                        <div class="item-block">
                            <div class="item-form">

                                <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Yetenek, bkz. HTML">
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-sm-6">

                                        <div class="form-group">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Yetenek seviyesi, bkz. 90">
                                                <span class="input-group-addon">%</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 text-center">
                        <br>
                        <button class="btn btn-primary btn-duplicator">KAYDET</button>
                    </div>


                </div>

            </div>
        </section>
        <!-- END Skills -->
        <!-- Submit -->
        <section class=" bg-img" style="background-image: url(assets/img/bg-facts.jpg);">
            <div class="container">
                <header class="section-header">
                    <span>Tamamladınız mı?</span>
                    <h2>Özgeçmişinizi Kaydedin</h2>
                    @*<p>Please review your information once more and press the below button to put your resume online.</p>*@
                </header>

                <p class="text-center"><button class="btn btn-success btn-xl btn-round">Kaydet</button></p>

            </div>
        </section>
        <!-- END Submit -->


    </main>
    <!-- END Main container -->
    </form>

