@model Experience
@{
    Layout = null;
}

<div class="container">
    <header class="section-header">
        <span>Çalıştığınız Firmalar</span>
        <h2>İş Deneyimi</h2>
    </header>

    <div class="row">

        <div class="col-xs-12">
            <div class="item-block">
                <div class="item-form">

                    <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>

                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <div class="form-group">
                                <input asp-for="Photo" type="file" class="dropify" data-default-file="assets/img/logo-default.png">
                                <span asp-validation-for="Photo" class="text-danger"></span>
                                <span class="help-block">Please choose a square logo</span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-8">
                            <div class="form-group">
                                <input asp-for="CompanyName" type="text" class="form-control" placeholder="Firma Adı">
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <input asp-for="Position" type="text" class="form-control" placeholder="Çalıştığı Pozisyon">
                                <span asp-validation-for="Position" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Başlangıç tarihi</span>
                                    <input asp-for="StartYear" type="text" class="form-control" value="" placeholder="bkz. 2012">
                                    <span asp-validation-for="StartYear" class="text-danger"></span>
                                    <span class="input-group-addon">Bitiş tarihi</span>
                                    <input asp-for="EndYear" type="text" class="form-control" value="" placeholder="bkz. 2016">
                                    <span asp-validation-for="EndYear" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <textarea asp-for="Notes" class="form-control" rows="3" placeholder="Eklemek İstediğiniz Notlar"></textarea>
                                <span asp-validation-for="Notes" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12 text-center">
            <br>
            <button type="button" onclick="ExperienceCreate()" class="btn btn-primary">İş Deneyimi Ekle</button>
        </div>


    </div>
</div>
