@model Skill
@{
    Layout = null;
}

<div class="container">
    <header class="section-header">
        <span>Uzmanlık Alanları</span>
        <h2>Yetenekler</h2>
    </header>
    <div class="row">
        <div class="col-xs-12">
            <div class="item-block">
                <div class="item-form">
                    <button class="btn btn-danger btn-float btn-remove"><i class="ti-close"></i></button>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <input asp-for="Name" type="text" class="form-control" placeholder="Yetenek, bkz. HTML">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <input asp-for="Level" type="text" class="form-control" value="" placeholder="Yetenek seviyesi, bkz. 90">
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <br>
            <button id="btnAdd" type="button" onclick="SkillEdit()" class="btn btn-primary btn-duplicator">Yetenek Düzenle</button>
        </div>
    </div>
</div>
