<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8">
</head>
<body>
    @model TwoFactorAuthenticationViewModel
    @{
        ViewData["Title"] = "iki Faktörlü Kimlik Doğrulama";
        ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
    }
    <div class="container" style="margin-bottom:20px;">
        <div class="row">
            <div class="col-md-6">

                <h4>@ViewData["Title"]</h4>
                @if (Model.Is2faEnabled)
            {
                if (Model.RecoveryCodesLeft == 0)
                {
                        <div class="alert alert-danger">
                            <strong>Kurtarma Kodunuz Yok.</strong>
                            <p>You must <a asp-action="GenerateRecoveryCodes">Kurtarma kodu set oluştur.s</a> Kurtarma modu ile girmeden önce</p>
                        </div>
                    }
                    else if (Model.RecoveryCodesLeft == 1)
                    {
                        <div class="alert alert-danger">
                            <strong> Sadece bir tane kurtarma kodunuz kaldı.</strong>
                            <p> <a asp-action="GenerateRecoveryCodes">Kurtarma kodları seti oluştur.</a>.</p>
                        </div>
                    }
                    else if (Model.RecoveryCodesLeft <= 3)
                    {
                        <div class="alert alert-warning">
                            <strong> @Model.RecoveryCodesLeft tane kurtarma konuduz kaldı..</strong>
                            <p> <a asp-action="GenerateRecoveryCodes">Yeni  kurtarma kodları seti oluştur.</a>.</p>
                        </div>
                    }

                    <a asp-action="Disable2faWarning" class="btn btn-success">Pasifleştir 2FA</a>

                    <a asp-action="GenerateRecoveryCodes" class="btn btn-primary">Kurtarma Kodlarını Sıfırla</a>

                }

                <h5>Kimlik Doğrulama Uygulaması</h5>
                @if (!Model.HasAuthenticator)
            {
                    <a asp-action="EnableAuthenticator" class="btn btn-success">Kimlik Doğrulama Uygulaması Ekle</a>
                }
                else
                {
                    <a asp-action="EnableAuthenticator" class="btn btn-primary"> Yapılandır</a>

                    <a asp-action="ResetAuthenticatorWarning" class="btn btn-danger">Sıfırla </a>
                }
            </div>
        </div>
    </div>
</body>
</html>