<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8">
</head>
<body>
    @model TwoFactorAuthenticationViewModel
    @{
        ViewData["Title"] = "Ýki Faktörlü Kimlik Doðrulama";
        ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
    }
    <div class="container" style="margin-bottom:20px;">
        <div class="row">
            <div class="col-md-6">

                <h4>@ViewData["Title"]</h4>
                @if (Model.Is2faEnabled)
            {
                if (Model.RecoveryCodesLeft == 0)
                {
                        <div class="alert alert-danger">
                            <strong>Kurtarma Kodunuz Yok.</strong>
                            <p>You must <a asp-action="GenerateRecoveryCodes">Kurtarma kodu set oluþtur.s</a> Kurtarma modu ile girmeden önce</p>
                        </div>
                    }
                    else if (Model.RecoveryCodesLeft == 1)
                    {
                        <div class="alert alert-danger">
                            <strong> Sadece bir tane kurtarma kodunuz kaldý.</strong>
                            <p> <a asp-action="GenerateRecoveryCodes">Kurtarma kodlarý seti oluþtur.</a>.</p>
                        </div>
                    }
                    else if (Model.RecoveryCodesLeft <= 3)
                    {
                        <div class="alert alert-warning">
                            <strong> @Model.RecoveryCodesLeft tane kurtarma konuduz kaldý..</strong>
                            <p> <a asp-action="GenerateRecoveryCodes">Yeni  kurtarma kodlarý seti oluþtur.</a>.</p>
                        </div>
                    }

                    <a asp-action="Disable2faWarning" class="btn btn-success">Pasifleþtir 2FA</a>

                    <a asp-action="GenerateRecoveryCodes" class="btn btn-primary">Kurtarma Kodlarýný Sýfýrla</a>

                }

                <h5>Kimlik Doðrulama Uygulamasý</h5>
                @if (!Model.HasAuthenticator)
            {
                    <a asp-action="EnableAuthenticator" class="btn btn-success">Kimlik Doðrulama Uygulamasý Ekle</a>
                }
                else
                {
                    <a asp-action="EnableAuthenticator" class="btn btn-primary"> Yapýlandýr</a>

                    <a asp-action="ResetAuthenticatorWarning" class="btn btn-danger">Sýfýrla </a>
                }
            </div>
        </div>
    </div>
</body>
</html>