@{
    ViewData["Title"] = "Access denied";
}

<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
    <div class="container no-shadow">
        <h1 class="text-center">Giriş Reddedildi! <span><i class="fa fa-warning"></i></span></h1>
        <p class="lead text-center">Buraya Giriş Yapmaya Yetkiniz Bulunmamaktadır!</p>
    </div>
</header>
