@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model RegisterViewModel
@inject SignInManager<ApplicationUser> SignInManager

<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
    <div class="container no-shadow">
        <h1 class="text-center">Kaydı Tamamla</h1>
        <p style="margin-bottom:25px;" class="lead text-center"> <strong>Kaydı tamamlamak için mail adresinize gelen linke tıklayınız</strong>.</p>
      
    </div>

</header>