<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
    <div class="container no-shadow">
        <h1 class="text-center">Şifremi Unuttum</h1>
        <p style="margin-bottom:25px;" class="lead text-center"> <strong>Şifre işlemleri için mail adresinizi kontrol ediniz.</strong>.</p>

    </div>

</header>
