@{
    ViewData["Title"] = "Locked out";
}

<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
    <div class="container no-shadow">
        <h1 class="text-center">Kilitli Hesap <span><i class="fa fa-ban"></i></span></h1>
        <p class="lead text-center">Bu Hesap kilitlenmiştir.!</p>
    </div>
</header>
