@{
    ViewData["Title"] = "Şifre Sıfırlama";
}

<<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
    <div class="container no-shadow">
        <h1 class="text-center">Şifre Sıfırlama <span><i class="fa fa-key"></i></span></h1>
        <p class="lead text-center">  Şifreniz sıfırlanmıştır. Lütfen <a asp-action="Giriş"> Giriş Yapmak İçin Tıklayınız</a>.</p>
    </div>
</header>

