@{
    ViewData["Title"] = "Çıkış";
}

<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
    <div class="container no-shadow">
        <h1 class="text-center">Çıkış <span><i class="fa fa-sign-out"></i></span></h1>
        <p class="lead text-center">Başarılı Bir Şekilde Çıkış Yaptınız.</p>
    </div>
</header>

