
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Giriş</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/maruti/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/maruti/js/bootstrap.min.js"></script>

    <link href="~/maruti/css/bootstrap-responsive.min.css" rel="stylesheet" />

    <link href="~/maruti/css/maruti-login.css" rel="stylesheet" />
</head>
<body>
    <div id="loginbox">
        <form id="loginform" class="form-vertical" action="/admin">
            <div class="control-group normal_text"> <h3><img src="~/maruti/img/logo.png" alt="Logo" /></h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on"><i class="icon-user"></i></span><input type="text" placeholder="Kullanıcı Adı" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on"><i class="icon-lock"></i></span><input type="password" placeholder="Şifre" />
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-inverse" id="to-recover">Şifreni mi Unuttun?</a></span>
                <span class="pull-right"><input type="submit" class="btn btn-success" value="Login" /></span>
            </div>
        </form>
        <form id="recoverform" action="#" class="form-vertical">
            <p class="normal_text">E-posta adresinizi aşağıya girin ve sana şifre kurtarma talimatlarını göndereceğiz.</p>

            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail adresi" />
                </div>
            </div>

            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-inverse" id="to-login">&laquo; Login e dön</a></span>
                <span class="pull-right"><input type="submit" class="btn btn-info" value="Recover" /></span>
            </div>
        </form>
    </div>
    <script src="~/maruti/js/jquery.min.js"></script>

    <script src="~/maruti/js/maruti.login.js"></script>

</body>

</html>
