
@model Setting
@{
    ViewData["Title"] = "Hakkımızda";
}

<header class="page-header bg-img">
    <div class="container page-name">
        <h1 class="text-center">Hakkımızda</h1>
        <p class="lead text-center">Hakkımızda Sayfasına Hoş Geldiniz!</p>
    </div>
</header>

    <!-- END Site header -->
    <!-- Main container -->
    <main class="container">



        <!-- About -->
        <section class="no-padding-top bg-alt">
            <div class="container">

                
                <p>@Model.About</p>

            </div>
        </section>
    </main>