
@model Setting
@{
    ViewData["Title"] = "Hakkımızda";
}

<header class="page-header bg-img">
    <div class="container page-name">
        <h1 class="text-center">Hakkımızda</h1>
        <p class="lead text-center">Hakkımızda Sayfasına Hoş Geldiniz!</p>
    </div>
</header>

    <!-- END Site header -->
    <!-- Main container -->
    <main class="container">



        <!-- About -->
        <section>
            <div class="container">

                
              @Html.Raw(Model.About)

            </div>
        </section>
    </main>