@model Setting
@{
    ViewData["Title"] = "Yardım";
}

<header class="page-header bg-img">
    <div class="container page-name">
        <h1 class="text-center">Yardım</h1>
        <p class="lead text-center">Yardım Sayfasına Hoş Geldiniz!</p>
    </div>
</header>
<!-- END Site header -->
<!-- Main container -->
<main class="container">
    <!-- About -->
    <section>
        <div class="container" style="margin-top:-80px;">

            @Html.Raw(Model.Help)

        </div>
    </section>
    </main>
