@model Setting
@{
    ViewData["Title"] = "Nasıl Çalişıyoruz";
}


<header class="page-header bg-img">
    <div class="container page-name">
        <h1 class="text-center">Nasıl Çalışıyoruz</h1>
        <p class="lead text-center">Nasıl Çalışıyoruz Sayfasına Hoş Geldiniz!</p>
    </div>
    <!-- END Site header -->
    </header>
    <!-- Main container -->
 
    <!-- About -->
    <main class="container">
        <section>

                <div style="margin-top:-80px;">

                    @Html.Raw(Model.HowItWorks)

                </div>
            </section>
    </main>
