@inject UserManager<ApplicationUser> UserManager
         @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Anasayfa";
}

<!-- Site header -->
    @{ if (User.Identity.Name != null)
        {
           var user = await UserManager.FindByNameAsync(User.Identity.Name);
           if(User.IsInRole("Candidate") || (User.IsInRole("Admin")))
          {
                @await Html.PartialAsync("SearchJobs")
                @await Html.PartialAsync("RecentJobs")

            }
            else if (User.IsInRole("Employer") || (User.IsInRole("Admin")))
            {
                @await Html.PartialAsync("Searchresumes")
                @await Html.PartialAsync("Recentresumes")

            }
        }
        else
        {
            @await Html.PartialAsync("SearchJobs")
            @await Html.PartialAsync("RecentJobs")

        }

    }
    <!-- END Site header -->

    <!-- Main container -->
    <main>
    </main>
    <!-- END Main container -->
    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>



