
@model Setting
@{
    ViewData["Title"] = "Gizlilik Politikası";
}

<header class="page-header bg-img">
    <div class="container page-name">
        <h1 class="text-center">Gizlilik Politikası</h1>
        <p class="lead text-center">Gizlilik Politikası Sayfasına Hoş Geldiniz!</p>
    </div>
</header>
<!-- END Site header -->
<!-- Main container -->

<main class="container">

    <section>
        <div style="margin-top:-80px;">

            @Html.Raw(Model.PrivacyPolicy)

        </div>
    </section>
</main>
