
@{
    ViewData["Title"] = "Index";
}

<div class="container page-name">
    <h1 class="text-center">İş İlanı Ver</h1>
    <p class="lead text-center">Aşağıdaki form ile hemen ücretsiz iş ilanı verebilirsiniz.</p>
</div>

<div class="container">

    <div class="row">
        <div class="form-group col-xs-12 col-sm-6">
            <input type="text" class="form-control input-lg" placeholder="İlan Başlığı">
        </div>

        <div class="form-group col-xs-12 col-sm-6">
            <select class="form-control selectpicker">
                <option>Firmalar</option>
                <option>Google</option>
                <option>Microsoft</option>
                <option>Apple</option>
                <option>Facebook</option>
            </select>
            <a class="help-block" href="company-add.html">Yeni Firma Ekle</a>
        </div>

        <div class="form-group col-xs-12">
            <textarea class="form-control" rows="3" placeholder="Kısa Açıklama"></textarea>
        </div>

        <div class="form-group col-xs-12">
            <input type="text" class="form-control" placeholder="Web Adresi">
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                <select class="form-control selectpicker">
                    <option>İl</option>
                </select>
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                <select class="form-control selectpicker">
                    <option>Çalışma Şekli</option>
                    <option>Sürekli/Tam zamanlı</option>
                    <option>Yarı zamanlı/Part Time</option>
                    <option>Dönemsel/Proje Bazlı</option>
                    <option>Stajyer</option>
                    <option>Serbest Zamanlı</option>
                </select>
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-male"></i></span>
                <select class="form-control selectpicker">
                    <option>Askerlik</option>
                    <option>Yapıldı</option>
                    <option>Muaf</option>
                    <option>Tecilli</option>

                </select>
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                <input type="text" class="form-control" placeholder="Çalışma Saati">
                <span class="input-group-addon">Saat / Hafta</span>
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-flask"></i></span>
                <input type="text" class="form-control" placeholder="Deneyim">
                <span class="input-group-addon">Yıl</span>
            </div>
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-md-4">
            <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-certificate"></i></span>
                <select class="form-control selectpicker" multiple>
                    <option>Tüm Seviyeler</option>
                    <option>Önlisans</option>
                    <option>Lisans</option>
                    <option>Yüksek Lisans</option>
                    <option>Doktora</option>
                </select>
            </div>
        </div>

        <div class="button-group">
            <div class="action-buttons">
                <div class="upload-button">
                    <button class="btn btn-block btn-primary">Kapak Resmi Seçin</button>
                    <input id="cover_img_file" type="file">
                </div>
            </div>
        </div>

    </div>
</div>
    
<!-- END Page header -->
<!-- Main container -->
<main>


    <!-- Job detail -->
    <section>
        <div class="container">

            <header class="section-header">
                <span>AÇIKLAMA</span>
                <h2>İş Detayı</h2>
                <p>Şirketiniz, iş tanımınız, gerekli becerileriniz, avantajlarınız vb. hakkında yazın.</p>
            </header>

            <textarea class="summernote-editor"></textarea>

        </div>
    </section>



    <!-- Submit -->
    <section class="bg-alt">
        <div class="container">
            <header class="section-header">
                <span>Tamam mısın?</span>
                <h2>İşi Gönder</h2>
                <p>Lütfen bilgilerinizi bir kez daha gözden geçirin ve işinizi çevrimiçi hale getirmek için aşağıdaki düğmesine basın.</p>
            </header>

            <p class="text-center"><button class="btn btn-success btn-xl btn-round">İŞİNİZİ GÖNDERİN</button></p>

        </div>
    </section>
    <!-- END Submit -->


</main>

