@model Job
@{
    ViewData["Title"] = "SuccessfullyCreated";
}
<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
    <div class="container">
        <div class="header-detail">
            <p>Kaydınız başarıyla oluşmuştur. Teşekkür ederiz..</p>           
        </div>


        <div class="action-buttons">
            <a class="btn btn-success pull-right"  asp-controller="Home" asp-action="Index">ANASAYFAYA DÖN</a>
        </div>

        <div class="button-group" style="margin-top:70px;">
            <ul class="social-icons">
                <li class="title">Paylaş:</li>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            
        </div>
    </div>
</header>







