
@{
    ViewData["Title"] = "Index";
}

<div>

    <header class="page-header bg-img">
        <div class="container page-name">
            <h1 class="text-center">Mesajlar</h1>
            <p class="lead text-center">Güncel tüm mesajlarınıza buradan ulaşabilirsiniz.</p>
        </div>



        <div class="container">
            <td style="height: 235px" valign="top">
                <div style="width: 100%; height: 300px;">
                    <div loader="mesajlar" style="position: absolute; z-index: 100000; opacity: 0.5; background-color: white; height: 50px; width: 709px; top: 146px; left: 492.5px; display: none;" align="center"><br><img src="//cdn.kariyer.net/Management/images/loader_1.gif"></div><div id="mesajlar" style="width: 100%">
                        <img style="display:none;" src="http://b.scorecardresearch.com/p?c1=2&amp;c2=7849338&amp;cv=2.0&amp;cj=1&amp;c7=/WebSite/Kariyerim/AdayGelenKutusuMesajlariGetir.aspx"><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=bXsDh1aoie00gz" style="display:none" height="1" width="1" alt=""><img src="http://b.scorecardresearch.com/p?c1=2&amp;c2=17808812&amp;ps_ver=1-1302-13&amp;&amp;ns_site=poc&amp;c7=/WebSite/Kariyerim/AdayGelenKutusuMesajlariGetir.aspx" style="display:none" height="1" width="1" alt="*">

                        <style type="text/css">
                            #trMesaj {
                                cursor: pointer;
                            }

                                #trMesaj:active {
                                    background: #fcf7ba;
                                }

                                #trMesaj:hover {
                                    background: #fcf7ba;
                                }
                        </style>
                        <input name="hdnIlkMesajID" type="hidden" id="hdnIlkMesajID" value="700029089830">
                        <input name="hdnIlkMesajTip" type="hidden" id="hdnIlkMesajTip" value="Basvuru">
                               
                      
             
                                                                                                                                                                                                                                                                                              <div class="bd-example bd-example-tabs" role="tabpanel">
                                                                                                                                                                                                                                                                                                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                                                                                                                                                                                                                                                                      <li class="nav-item">
                                                                                                                                                                                                                                                                                                          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-expanded="true"><i class="fa fa-envelope"></i> Gelen Mesajlar</a>
                                                                                                                                                                                                                                                                                                      </li>
                                                                                                                                                                                                                                                                                                      <li class="nav-item">
                                                                                                                                                                                                                                                                                                          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-expanded="false"><i class="fa fa-envelope"></i> Giden Mesajlar</a>
                                                                                                                                                                                                                                                                                                      </li>

                                                                                                                                                                                                                                                                                                  </ul>
                                                                                                                                                                                                                                                                                                  <div class="tab-content" id="myTabContent">
                                                                                                                                                                                                                                                                                                      <div role="tabpanel" class="tab-pane fade active show" id="home" aria-labelledby="home-tab" aria-expanded="true">
                                                                                                                                                                                                                                                                                                          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                                                                                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                                                                                                      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab" aria-expanded="false">
                                                                                                                                                                                                                                                                                                          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                                                                                                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                                                                                                      <div class="tab-pane fade" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab">
                                                                                                                                                                                                                                                                                                          <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                                                                                                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                                                                                                      <div class="tab-pane fade" id="dropdown2" role="tabpanel" aria-labelledby="dropdown2-tab">
                                                                                                                                                                                                                                                                                                          <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                                                                                                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                                                                                                  </div>
                                                                                                                                                                                                                                                                                              </div>
                                            <div id="divArsiv">
                                            </div>



                                        </div>
                                    </td>
                                    <td class="right"></td>
                                </tr>
                                <tr>
                                    <td class="bottomleft"></td>
                                    <td colspan="5" class="bottom"></td>
                                    <td class="bottomright"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
        </div>

    </header>
    <!-- END Page header -->
    <!-- Main container -->

    <main class="container">
        <div class="cerceve" style="width: 100%; height: 100%;">
            <div class="cvhead2">
                <span>
                    <div id="islemlerDivi" style="display:none;">
                        <span>
                            <a id="btnOkunmadiYap" href="Javascript:void(0)" style="padding-left: 20px;
                                    font-weight: normal;" onclick="OkunmadiOlarakIsaretle()" class="link">Okunmadı Olarak İşaretle</a> <span id="spOkunmadiCope" style="padding-left: 20px; color: Purple">|</span>
                            <a id="btnArsiveGonder" href="Javascript:void(0)" style="padding-left: 20px; font-weight: normal;" onclick="ArsiveGonder()" class="link">Çöpe Gönder</a> <span id="spCopeCopten" style="padding-left: 20px; color: purple; display: none;">|</span> <a id="btnArsivdenAl" href="Javascript:void(0)" style="display: none;
                                                padding-left: 20px; font-weight: normal;" onclick="ArsivdenCikar()" class="link">
                                Çöpten Geri Al
                            </a>
                        </span>
                    </div>
                </span>
            </div>
            <div loader="mesajdetayi" style="position: absolute; z-index: 100000; opacity: 0.5; background-color: white; height: 290px; width: 709px; top: 408px; left: 492.5px; display: none;" align="center"><br><img src="//cdn.kariyer.net/Management/images/loader_1.gif"></div><div id="mesajdetayi" class="icerik" style="padding: 5px; overflow: auto; height: 290px;">

                <br>
                <br>
                <table width="100%" cellpadding="0" cellspacing="0" style="padding-bottom:20px;"><tbody><tr><td><span style="float:left;vertical-align:top;font-size:12px;"><b>Gönderen :</b> <a target="_blank" class="link" href="/website/isara/firmaprofil.aspx?firmano=1636&amp;profilrefno=0 ">CEVA Lojistik</a> </span> <br><div style="padding-top:20px;"><b>İş İlanı:</b> <a target="_blank" class="link" href="/ceva-lojistik/yazilim-uzmani-is-ilani-i1917909/?&amp;tmpsno=0">YAZILIM UZMANI</a> </div> </td><td> <img style="float:right;" border="0" src="http://cdn1.kariyer.net/UploadFiles/Clients/Logolar/tntlojistik_logo.gif"></td></tr></tbody></table><br>Sayın <b>Salih ALAN</b><br><br>Firmamıza göstermiş olduğunuz ilgiye teşekkür ederiz.<br><br>Özgeçmişiniz, başvurmuş olduğunuz ilan doğrultusunda değerlendirilecek ve olası bir görüşme durumunda sizinle irtibata geçilecektir.<br><br>Bilginize sunar, çalışma hayatınızda başarılar dileriz.<br><br><br><br>Saygılarımızla,<br><br>CEVA Logistics İnsan Kaynakları Departmanı<br><br>
                <input name="basliktxt" type="hidden" id="basliktxt" value="İlan Cevap (Genel) - CEVA Lojistik" xid="basliktxt">
                <input name="tarih1" type="hidden" id="tarih1" xid="tarih1" value="29.12.2017 09:23">
                <input name="tip1" type="hidden" id="tip1" xid="tip1" value="Bu">
                <input name="mid1" type="hidden" id="mid1" xid="mid1" value="700029089830">
                <br>
                <br>
                <div align="right" style="width: 100%; float: right;">





                    <br><br>
                    <br><br>

                </div>
                <br>
                <br>

            </div>
            <div class="alt">
                <span></span>
            </div>
        </div>
    </main>

</div>

