<!DOCTYPE html>
<html lang="en">

<head>
    <title>Maruti Admin</title>
    <meta charset="UTF-8" />



    <script src="~/maruti/js/bootstrap.min.js"></script>
    <script src="~/maruti/js/jquery.min.js"></script>    
    <link href="~/maruti/css/bootstrap.min.css" rel="stylesheet" />   
    <link href="~/maruti/css/bootstrap-responsive.min.css" rel="stylesheet" />

    
</head>
<body>
    
    admin

   

   

</body>

</html>
