@model Company
@{
    ViewData["Title"] = "Create";
}

<link href="/assets/vendors/summernote/summernote.css" rel="stylesheet">
<form asp-action="Create" method="post">
    <!-- Page header -->
    <header class="page-header bg-img" style="background-image: url(assets/img/bg-banner3.jpg);">

        <div class="container page-name">

            <h1 class="text-center">Firmanı Ekle</h1>
            <p class="lead text-center">Firmanın profilinin oluştur ve online olarak yerleştir.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">

                        <div class="col-xs-12 col-sm-4 col-lg-2">
                            <div class="form-group">
                                <input asp-for="Photo" type="file" class="dropify" data-default-file="/assets/img/avatar.jpg">
                                <span class="help-block">Please choose a 4:6 profile picture.</span>
                                <span asp-validation-for="Photo" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-8 col-lg-10">
                            <div class="form-group">
                                <input asp-for="Name" class="form-control" placeholder="Firma Adı">
                                
                                <span asp-validation-for="Name" class="text-danger"></span>
                               
                            </div>
                            <div class="form-group">
                                <input asp-for="Title" class="form-control input-lg" placeholder="İlan Başlığı">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <textarea asp-for="ShortDescription" class="form-control" rows="3" placeholder="Kısa Açıklama"></textarea>
                                <span asp-validation-for="ShortDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Sector" class="form-control input-lg" placeholder="Sektör Adı">
                                <span asp-validation-for="Sector" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="row">

                        <div class="form-group col-xs-12 col-sm-6 col-md-4">
                            <div class="input-group input-group-sm">
                                <select class="form-control select2-container-multi">
                                    <option value="">Bölge Seçiniz</option>
                                    @foreach (var location in (IList<Location>)ViewBag.Locations)
                                    {
                                        <option value="@location.Id">@location.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                                <select class="form-control selectpicker">
                                    <option>0 - 9</option>
                                    <option selected>10 - 99</option>
                                    <option>100 - 999</option>
                                    <option>1,000 - 9,999</option>
                                    <option>10,000 - 99,999</option>
                                    <option>100,000 - 999,999</option>
                                </select>
                                <span class="input-group-addon">Çalışan</span>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4">
                            <div class="input-group input-group-sm">
                                <input asp-for="WebAddress" class="form-control" placeholder="Web Adresi">
                                <span asp-validation-for="WebAddress" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4">
                            <div class="input-group input-group-sm">
                                <input asp-for="EstablishYear" class="form-control" placeholder="Kuruluş Yılı">
                                <span asp-validation-for="EstablishYear" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <span asp-validation-for="Phone" class="text-danger"></span>
                                <input asp-for="Phone" class="form-control" placeholder="Telefon">

                           
                               
                                
                            </div>
                        </div>

                        <div class="form-group col-xs-12 col-sm-6 col-md-4">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input asp-for="Email" class="form-control" placeholder="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                                
                            </div>
                        </div>

                    </div>
                </div>


            </div>

            <div class="button-group">
                <div class="action-buttons">
                    <div class="upload-button">
                        <button class="btn btn-block btn-primary">Kapak Fotoğrafı seç</button>
                        <input id="cover_img_file" type="file">
                    </div>
                </div>
            </div>

        </div>
    </header>
    <!-- END Page header -->
    <!-- Main container -->

    <main>

        <!-- Social media -->
        <section>
            <div class="container">


                <header class="section-header">
                    <span>Bağlan</span>
                    <h2>Sosyal Medya</h2>
                </header>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                <input asp-for="Facebook" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="Facebook" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                                <input asp-for="GooglePlus" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="GooglePlus" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dribbble"></i></span>
                                <input asp-for="Dribbble" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="Dribbble" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-pinterest"></i></span>
                                <input asp-for="Pinterest" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="Pinterest" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                <input asp-for="Twitter" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="Twitter" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-github"></i></span>
                                <input asp-for="GitHub" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="GitHub" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-instagram"></i></span>
                                <input asp-for="Instagram" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="Instagram" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-youtube"></i></span>
                                <input asp-for="YouTube" type="text" class="form-control" placeholder="Profil URL">
                                <span asp-validation-for="YouTube" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Social media -->
        <!-- Company detail -->
        <section class=" bg-alt">
            <div class="container">

                <header class="section-header">
                    <span>Hakkında</span>
                    <h2>Firma detayı</h2>
                    <p>Firma hakkında kültürünü,yararlarını ve çalışanlarını yazınız.</p>
                </header>


                <textarea class="summernote-editor"></textarea>


            </div>
        </section>
        <!-- END Company detail -->
        <!-- Submit -->
        <section>

            <div class="container">
                <header class="section-header">
                    <span>Tamamladınız mı?</span>
                    <h2>Gönder</h2>
                    <p>Lütfen bir kez daha gözden geçirin ve alttaki butuna basarak online olarak yerleştirin.</p>
                </header>

                <p class="text-center"><button class="btn btn-success btn-xl btn-round">Firmanı Gönder</button></p>

            </div>
        </section>
        <!-- END Submit -->


    </main>
</form>
    @section scripts{
        <script src="/assets/vendors/summernote/summernote.min.js"></script>}



    <!-- END Main container -->
