<!DOCTYPE html>

<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Post a job position or create your online resume by TheJobs!">
    <meta name="keywords" content="">

    <title>@ViewBag.Title</title>

    <!-- Styles -->
    <link href="/assets/css/app.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="~/assets/img/cvfavicon.ico">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="container">

            <!-- Logo -->
            <div class="pull-left">
                <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>
             </div>
            <div class="logodiv">
    <div class="logo-wrapper">
        <a class="logo" href="/"><img src="/assets/img/logocvhavuzu.png" alt="logo"></a>
        <a class="logo-alt" href="/"><img src="/assets/img/logo-alt.png" alt="logo-alt"></a>
    </div>
            </div>
    <!-- END Logo -->
    <!-- User account -->
    <!-- END User account -->
    <!-- Navigation menu -->
    <ul class="nav-menu2">
        <li>
            <a class="menuitem active" asp-controller="Home" asp-action="Index">Anasayfa</a>

        </li>
        <li>
            <a class="menuitem" asp-controller="Jobs" asp-action="Index">İş ilanları</a>

        </li>
        <li>
            <a class="menuitem" asp-controller="Resumes" asp-action="Index">Özgeçmişler</a>

        </li>
        <li>
            <a class="menuitem" asp-controller="Companies" asp-action="Index">Firmalar</a>
        </li>
        <li>
            <a class="menuitem" asp-controller="Home" asp-action="About">Hakkımızda</a>

        </li>
        <li>
            <a class="menuitem" asp-controller="Home" asp-action="Contact">İletişim</a>
        </li>
        <li>
            <a class="btn btn-success btn-xs" asp-controller="Jobs" asp-action="Create">İlan Ver</a>
            <a class="btn btn-success btn-xs" asp-controller="Resumes" asp-action="Create">Özgeçmiş Oluştur</a>
        </li>
    </ul>
    <ul id="login2">
        <li>
            @await Html.PartialAsync("_LoginPartial")
        </li>
    </ul>
    
    <!-- END Navigation menu -->

</div>
    </nav>

    <!-- END Navigation bar -->
    <div>
        @RenderBody()
    </div>
    <!-- Site footer -->
    <footer class="site-footer">

        <!-- Top section -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>Hakkımızda</h6>
                    <p class="text-justify">Bir istihdam web sitesi, özellikle istihdam veya kariyer olanakları sunan bir web sitesidir. Pek çok istihdam web sitesi, işverenlerin doldurulması gereken bir pozisyon için iş gereksinimlerini göndermelerine izin vermek üzere tasarlanmıştır ve genelde iş ilan panoları olarak bilinirler. Diğer istihdam alanları, işveren değerlendirmesi, kariyer ve iş arama önerileri sunar ve farklı iş tanımlarını veya işverenleri tanımlar. Potansiyel bir çalışan, bir iş web sitesi aracılığıyla, bir iş başvurusunu bulabilir ve doldurabilir.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Bağlantılar</h6>
                    <ul class="footer-links">
                        <li><a href="page-about.html">Hakkımızda</a></li>
                        <li><a href="page-typography.html">Nasıl çalışıyoruz</a></li>
                        <li><a href="page-faq.html">Yardım</a></li>
                        <li><a href="page-typography.html">Gizlilik Politikası</a></li>
                        <li><a href="page-contact.html">Bize Ulaşın</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Popüler Meslekler</h6>
                    <ul class="footer-links">
                        <li><a href="job-list.html">Front-end developer</a></li>
                        <li><a href="job-list.html">Android developer</a></li>
                        <li><a href="job-list.html">iOS developer</a></li>
                        <li><a href="job-list.html">Full stack developer</a></li>
                        <li><a href="job-list.html">Project administrator</a></li>
                    </ul>
                </div>
            </div>

            <hr>
        </div>
        <!-- END Top section -->
        <!-- Bottom section -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text"> &copy; 2017 HrPortal</p>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->
    <!-- Scripts -->
    <script src="/assets/js/app.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    @RenderSection("Scripts", required:false)
</body>
</html>
