
@using Microsoft.AspNetCore.Identity
@using HrPortal.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model LoginViewModel  



@*login model eklendi checkbox dinamik olması içi*@





    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
            <li class="pull-right">
                <button type="submit" class="btn btn-link navbar-btn navbar-link btn-xs">Log out</button>
            </li>
                <li class="pull-right">
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="login">Hello @UserManager.GetUserName(User)!</a>
                </li>      
        </form>
    }

    else
    {





        

            <li class="dropdown pull-right">
                <a href="#" class="menuitem dropdown-toggle" data-toggle="dropdown"><b>Giriş</b> <span class="caret"></span></a>
                <ul id="login-dp" class="dropdown-menu">
                    <li>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="social-buttons">
                                    <a href="#" class="btn btn-fb btn-sm"><i class="fa fa-facebook"></i> Facebook</a>
                                    <a href="#" class="btn btn-tw btn-sm"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
                                </div>
                                <p>Giriş Yap</p>
                                <form class="form" role="form" method="post" asp-action="Login" asp-controller="Account" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputEmail2">Email</label>
                                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputPassword2">Şifre</label>
                                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Şifre" required>
                                        <div class="help-block text-right"><a href="/account/forgotpassword">Şifreni mi Unuttun?</a></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block btn-sm">Giriş</button>
                                    </div>
                                                                            
                                        <div class="form-group">
                                            <label asp-for="RememberMe"></label>
                                            <input asp-for="RememberMe" class="checkbox checkbox-inline"
                                                   @Html.DisplayNameFor(m=> m.RememberMe) />

                                        </div>
                                  
                                </form>
                            </div>
                            <div class="bottom text-center">
                                Hesabın Yok Mu? <a href="/account/register"><b>Üye Ol</b></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
       
                

    @*<ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>*@
}
