
@using Microsoft.AspNetCore.Identity
@using HrPortal.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@*login model eklendi checkbox dinamik olması içi*@



<link href="~/assets/css/UserSettings.css" rel="stylesheet" />

    @if (SignInManager.IsSignedIn(User))
    {

        <li class="dropdown pull-right">
            <a href="#" class="menuitem dropdown-toggle" data-toggle="dropdown"><span class="fa fa-user"></span><span class="fa fa-chevron-down"></span></a>
            <ul id="login-dp" class="dropdown-menu">
                <li>
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <p class="text-center">
                                            <span class="fa fa-user icon-size" style="color:#29aafe"></span>
                                        </p>
                                    </div>
                                    <div class="col-md-8" style="color:black">
                                        @{
                                            var user = await UserManager.FindByNameAsync(User.Identity.Name);
                                            ViewBag.FullName = user.FirstName + " " + user.LastName;
                                        }
                                        <p class="text-left"><strong>@ViewBag.FullName</strong></p>
                                        <p class="text-left small">@User.Identity.Name</p>
                                        <p class="text-left">
                                            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="btn btn-primary btn-block btn-sm">Profil</a>
                                            <button type="submit" class="btn btn-danger btn-block btn-sm">Çıkış</button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                       
                    </div>
                </li>
            </ul>
        </li>
    }


    else
    {
            <li class="dropdown pull-right">
                <a href="#" class="menuitem dropdown-toggle" data-toggle="dropdown"><b>Giriş</b> <span class="caret"></span></a>
                <ul id="login-dp" class="dropdown-menu">
                    <li>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="social-buttons">
                                    <a href="#" class="btn btn-fb btn-sm"><i class="fa fa-facebook"></i> Facebook</a>
                                    <a href="#" class="btn btn-tw btn-sm"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
                                </div>
                                <p>Giriş Yap</p>
                                <form class="form" role="form" asp-action="login" asp-controller="account" asp-route-returnurl="@Context.Request.Path" method="post" accept-charset="UTF-8" id="login-nav">
                                    <div class="form-group">
                                        <label for="Email" class="sr-only" >Email</label>
                                        <input type="email" name="Email" class="form-control" id="Email" placeholder="Email" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="Password">Şifre</label>
                                        <input type="password" name="Password" class="form-control" id="Password" placeholder="Şifre" required>
                                        <div class="help-block text-right"><a href="/account/forgotpassword">Şifreni mi Unuttun?</a></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block btn-sm">Giriş</button>
                                    </div>
                                                                            
                                        <div class="form-group">
                                            <label for="RememberMe"></label>
                                            <input name="RememberMe" class="checkbox checkbox-inline" type="checkbox" value="true"/> Beni hatırla

                                        </div>
                                  
                                </form>
                            </div>
                            <div class="bottom text-center">
                                Hesabın Yok Mu? <a href="/account/register"><b>Üye Ol</b></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
       
                

    @*<ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>*@
}
