@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="site-header size-lg text-center" style="background-image: url(http://www.sercantogrul.com/wp-content/uploads/2016/06/kariyer_bg.jpg)">
    <div class="container">
        <div class="col-xs-12">
            <br><br>
            <h2>Şu an sizlere <mark>1,259</mark> özgeçmiş sunuyoruz!</h2>
            <h5 class="font-alt">Aradığınızı dakikalar içinde bulun</h5>
            <br><br><br>
            <form class="header-job-search">
                <div class="input-keyword">
                    <input type="text" class="form-control" placeholder="Meslek, Kişi, Alan ">
                </div>

                <div class="input-location">
                    <input type="text" class="form-control" placeholder="Şehir, konum">
                </div>

                <div class="btn-search">
                    <button class="btn btn-primary" type="submit">Özgeçmiş Ara</button>
                    <a href="">Detaylı Arama</a>
                </div>
            </form>
        </div>

    </div>
</header>