@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="site-header size-lg text-center" style="background-image: url(http://www.sercantogrul.com/wp-content/uploads/2016/06/kariyer_bg.jpg)">
    <div class="container">
        <div class="col-xs-12">
            <br><br>
            <h2>Şu an sizlere <mark>@ViewBag.ResumeCount</mark> özgeçmiş sunuyoruz!</h2>
            <h5 class="font-alt">Aradığınızı dakikalar içinde bulun</h5>
            <br><br><br>
            <form class="header-job-search">
                <div class="input-keyword">
                    <input type="text" class="form-control" placeholder="Meslek, Kişi, Alan" formmethod="get" name="keyWords">
                </div>

                <div class="input-location">
                    <select class="form-control" name="LocationId">
                        <option value="">Konum Seçiniz</option>
                        @foreach (var item in (IEnumerable<Location>)ViewBag.Locations)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }

                    </select>

                </div>

                <div class="btn-search">
                    <button class="btn btn-primary" type="submit" asp-controller="Resumes" asp-action="Index">Özgeçmiş Ara</button>
                    <a asp-controller="Resumes" asp-action="Index">Detaylı Arama</a>
                </div>
            </form>
        </div>

    </div>
</header>