.demo-btn-margin .btn{margin-bottom:6px}

.nav-menu2 {
    display: block;
    text-align: center;
margin-right:22px;
}
.nav-menu2 > li {
    position: relative;
  
    padding: 0 2px;
}
.dropdown pull-right{
    margin-top:-42px;
}

#login2 {
    margin-top: -42px;
}
@media (max-width: 767px) {

    #login2 {
        background-color: rgba(255,255,255,.8);
        margin-top: -33px;
    }

}
.nav-menu2 a.menuitem {
    line-height: 60px; color: #7e8890;
}
.nav-menu2 a.active, .nav-menu2 a:focus, .nav-menu2 a:hover {
    color: #29aafe;
    text-decoration: none;
}
    .nav-menu2 a {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 0 8px;
        -webkit-transition: color .2s linear;
        -o-transition: color .2s linear;
        transition: color .2s linear;
       
    }
    ul.nav-menu2 li{
        display:inline;
    }
@media (min-width:992px) {
    .logodiv {
        float: left;
    }
}
@media (max-width: 991px) {
    .navbar .nav-menu2 {
        text-align: left;
    }
}
    @media (max-width: 991px) {
        .navbar .nav-menu2 li {
            display: block;
        }
    }
        @media (max-width: 991px) {
            .navbar .nav-menu2 li a{
                width:100%;
            }

        }
@media (max-width: 991px) {
    .navbar .nav-menu2 {
        position: fixed;
        left: -80%;
        top: 0;
        bottom: 0;
        z-index: 99;
        width: 80%;
        max-width: 300px;
        height: 100%;
        overflow-y: auto;
        background-color: #fff;
        margin-left: 0;
        padding: 24px 16px;
        -webkit-transition: left .5s;
        -o-transition: left .5s;
        transition: left .5s;
    }
}
@media (max-width: 991px) {
    .offcanvas-show .navbar .nav-menu2 {
        left: 0;
        -webkit-box-shadow: 8px 0 10px 0 rgba(0,0,0,.05);
        box-shadow: 8px 0 10px 0 rgba(0,0,0,.05);
    }
}


#login-dp {
    min-width: 300px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}

    #login-dp .help-block {
        font-size: 12px
    }

    #login-dp .bottom {
        background-color: rgba(255,255,255,.8);
        border-top: 1px solid #ddd;
        clear: both;
        padding: 14px;
    }

    #login-dp .social-buttons {
        margin: 12px 0
    }

        #login-dp .social-buttons a {
            width: 49%;
        }

    #login-dp .form-group {
        margin-bottom: 10px;
    }

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

    .btn-fb:hover {
        color: #fff;
        background-color: #496ebc
    }

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

    .btn-tw:hover {
        color: #fff;
        background-color: #59b5fa;
    }


@media(max-width:768px) {
    #login-dp {
        
        color: #fff;
    }

        #login-dp .bottom {
            background-color: inherit;
            border-top: 0 none;
        }
    .logodiv {
        width: 80px;
        margin: auto;
    }
        
}
main.container {
    position: relative;
    background-color: #fff;
    padding: 0px 30px 20px;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0,0,0,.07);
    box-shadow: 0 5px 25px 0 rgba(0,0,0,.07);
    
}
.page-header {
    padding-top: 0px;
    margin-bottom: 30px;
}
    .page-header .container {
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }
    
body {
    background-color: lightgray;
}
.page-header.bg-img:before {
    background: orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(orange, lightgray); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(orange, lightgray); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(orange, lightgray); /* For Firefox 3.6 to 15 */
    background: linear-gradient(orange, lightgray); /* Standard syntax */
}

::placeholder {
    font-size: 13px;
}
