
<head>
    <script src="~/maruti/js/bootstrap.min.js"></script>
    <script src="~/maruti/js/jquery.min.js"></script>
    <link href="~/maruti/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/maruti/css/bootstrap-responsive.min.css" rel="stylesheet" />

    <link href="~/maruti/css/Body.css" rel="stylesheet" />

</head>





@{
    ViewData["Title"] = "Index";
}

<h2>Firmalar</h2>

