@model HrPortal.Models.Setting

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h4>Genel Ayarlar</h4>
<hr width="100%" size="2" />



<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="panel panel-default well">
                    <div class="panel-body">
                        <form class="form-horizontal track-event-form bv-form" novalidate="novalidate">

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <label asp-for="MapLat" class="control-label" style="border:1px solid black; border-style:solid"></label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-database"></i>
                                        </div>
                                        <input asp-for="MapLat" class="form-control" placeholder="MapLat giriniz" name="" >
                                    </div>
                                    <span asp-validation-for="MapLat" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-database"></i>
                                        </div>
                                        <input asp-for="MapLng" class="form-control" placeholder="MapLng giriniz" name="" type="text">
                                    </div>
                                    <span asp-validation-for="MapLng" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-database"></i>
                                        </div>
                                        <textarea asp-for="Address" class="form-control" rows="1" style="width:49.9%" placeholder="Adress bilgilerinizi lütfen buraya giriniz."></textarea>
                                    </div>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-database"></i>
                                        </div>
                                        <input asp-for="Phone" class="form-control" placeholder="Telefon No nuzu lütfen buraya giriniz" name="" type="text">
                                    </div>
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
         </div>
        
     </div>
  </div>







        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form asp-action="View">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <h5>İletişim</h5>
                        <hr width="100%" size="2" />

                        <div class="form-group">
                            <label asp-for="MapLat" class="control-label"></label>
                            <input asp-for="MapLat" class="form-control" />
                            <span asp-validation-for="MapLat" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="MapLng" class="control-label"></label>
                            <input asp-for="MapLng" class="form-control" />
                            <span asp-validation-for="MapLng" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <textarea asp-for="Address" class="form-control"></textarea>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Fax" class="control-label"></label>
                            <input asp-for="Fax" class="form-control" />
                            <span asp-validation-for="Fax" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div> 
                        
                        <br />

                        <h5>E-posta Ayarları</h5>
                        <hr width="100%" size="2" /> <br />

                        <div class="form-group">
                            <label asp-for="SmtpUserName" class="control-label"></label>
                            <input asp-for="SmtpUserName" class="form-control" />
                            <span asp-validation-for="SmtpUserName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SmtpPassword" class="control-label"></label>
                            <input asp-for="SmtpPassword" class="form-control" />
                            <span asp-validation-for="SmtpPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SmtpHost" class="control-label"></label>
                            <input asp-for="SmtpHost" class="form-control" />
                            <span asp-validation-for="SmtpHost" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="SmtpPort" class="control-label"></label>
                            <input asp-for="SmtpPort" class="form-control" />
                            <span asp-validation-for="SmtpPort" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="SmtpSSLEnabled" /> @Html.DisplayNameFor(model => model.SmtpSSLEnabled)
                                </label>
                            </div>
                        </div> 
                        
                        <br />

                        <h5>Footer(Alt Bilgi) Ayarları</h5>
                        <hr width="100%" size="2" /> <br />

                        <div class="form-group">
                            <label asp-for="Facebook" class="control-label"></label>
                            <input asp-for="Facebook" class="form-control" />
                            <span asp-validation-for="Facebook" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Twitter" class="control-label"></label>
                            <input asp-for="Twitter" class="form-control" />
                            <span asp-validation-for="Twitter" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Linkedin" class="control-label"></label>
                            <input asp-for="Linkedin" class="form-control" />
                            <span asp-validation-for="Linkedin" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Instagram" class="control-label"></label>
                            <input asp-for="Instagram" class="form-control" />
                            <span asp-validation-for="Instagram" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Youtube" class="control-label"></label>
                            <input asp-for="Youtube" class="form-control" />
                            <span asp-validation-for="Youtube" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="MetaTitle" class="control-label"></label>
                            <textarea asp-for="MetaTitle" class="form-control"></textarea>
                            <span asp-validation-for="MetaTitle" class="text-danger"></span>
                        </div>
                        
                        <br />

                        <div class="form-group">
                            <label asp-for="FooterText" class="control-label"></label>
                            <textarea asp-for="FooterText" class="form-control" name="FooterText"></textarea>

                            <span asp-validation-for="FooterText" class="text-danger"></span>
                        </div>
                        
                        <br />

                        <div class="form-group">
                            <label asp-for="MetaDescription" class="control-label"></label>
                            <textarea asp-for="MetaDescription" class="form-control" name="MetaDescription"></textarea>

                            <span asp-validation-for="MetaDescription" class="text-danger"></span>
                        </div>
                        
                        <br />

                        <div class="form-group">
                            <label asp-for="CustomHtml" class="control-label"></label>
                            <textarea asp-for="CustomHtml" class="form-control" name="CustomHtml"></textarea>

                            <script>
                               
                            </script>

                            <span asp-validation-for="CustomHtml" class="text-danger"></span>
                        </div> 
                        
                        <br />

                        <div class="form-group">
                            <label asp-for="About" class="control-label"></label>
                            <textarea asp-for="About" class="form-control" name="About"></textarea>

                            <script>
                               
                            </script>

                            <span asp-validation-for="About" class="text-danger"></span>
                        </div>
                        
                        <br />

                        <div class="form-group">
                            <label asp-for="PrivacyPolicy" class="control-label"></label>
                            <textarea asp-for="PrivacyPolicy" class="form-control" name="PrivacyPolicy"></textarea>

                            <span asp-validation-for="PrivacyPolicy" class="text-danger"></span>
                        </div> 
                        
                        <br />

                        <div class="form-group">
                            <label asp-for="TermsOfUse" class="control-label"></label>
                            <textarea asp-for="TermsOfUse" class="form-control" name="TermsOfUse"></textarea>

                            <script>
                              
                            </script>

                            <span asp-validation-for="TermsOfUse" class="text-danger"></span>
                        </div>
                        
                        <br />

                        <div class="form-group">
                            <label asp-for="MembershipAgreement" class="control-label"></label>
                            <textarea asp-for="MembershipAgreement" class="form-control" name="MembershipAgreement"></textarea>

                            <script>
                               
                            </script>

                            <span asp-validation-for="MembershipAgreement" class="text-danger"></span>
                        </div>
                        
                        <br />

                        <div class="form-group">
                            <label asp-for="HowItWorks" class="control-label"></label>
                            <textarea asp-for="HowItWorks" class="form-control" name="HowItWorks"></textarea>

                          
                            <span asp-validation-for="HowItWorks" class="text-danger"></span>
                        </div> 
                        
                        <br />

                        <div class="form-group">
                            <label asp-for="Help" class="control-label"></label>
                            <textarea asp-for="Help" class="form-control" name="Help"></textarea>

                          

                            <span asp-validation-for="Help" class="text-danger"></span>
                        </div>
                        
                        <br />

                        <div>
                            <input type="hidden" asp-for="Id" />

                            <input asp-for="CreateDate" type="hidden" />


                            <input asp-for="CreatedBy" type="hidden" />
                            <span asp-validation-for="CreatedBy" class="text-danger"></span>

                            <input asp-for="UpdateDate" type="hidden" />
                            <span asp-validation-for="UpdateDate" class="text-danger"></span>

                            <input asp-for="UpdatedBy" type="hidden" />
                            <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input asp-for="UseSSL" /> @Html.DisplayNameFor(model => model.UseSSL)
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <div>
            <a asp-action="Index">Listeye geri dön </a>
        </div>



        @section Scripts {

            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
            CKEDITOR.replace('FooterText');
            CKEDITOR.replace('Help');
            CKEDITOR.replace('HowItWorks');
            CKEDITOR.replace('PrivacyPolicy');
            CKEDITOR.replace('MetaDescription');
            CKEDITOR.replace('CustomHtml');
            CKEDITOR.replace('About');
            CKEDITOR.replace('TermsOfUse');
            CKEDITOR.replace('MembershipAgreement');
        </script>
        }
  

