<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   
    <title>@ViewData["Title"] - HrPortal</title>

    <script src="~/maruti/js/bootstrap.min.js"></script>
    <script src="~/maruti/js/jquery.min.js"></script>
    <link href="~/maruti/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/maruti/css/bootstrap-responsive.min.css" rel="stylesheet" />

    <link href="~/maruti/css/Body.css" rel="stylesheet" />

    <style>

        .logo {
            float: left;
            width: 80px;
            height: 10px;
            margin: 0px 0px;
        }

      .nav-collapse{
                
      }
        
    </style>



</head>
<body style="background-image:url(/maruti/img/background.png)">

    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                
                <div class="logo"><img src="~/maruti/img/logo.png" /></div>
                <div class="nav-collapse collapse">               
                    <ul class="nav">                       
                        <li><a href="/admin"><i class="icon-home icon-white"></i>Ana Sayfa</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/admin/jobs"><i class="icon-file icon-white"></i>İş ilanları</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/admin/resumes"><i class="icon-search icon-white"></i>Özgeçmişler</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/admin/companies"><i class="icon-share icon-white"></i>Firmalar</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/admin/users"><i class="icon-user icon-white"></i>Kullanıcılar</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/admin/settings"><i class="icon-lock icon-white"></i>Ayarlar</a></li>
                        <li class="divider-vertical"></li>

                    </ul>
                    <div class="btn-group pull-right">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i>Admin<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/settings"><i class="icon-wrench"></i>Ayarlar</a></li>
                            <li class="divider"></li>
                            <li><a href="/admin"><i class="icon-share"></i>Çıkış Yap</a></li>
                        </ul>
                    </div>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </div>
        <!--/.navbar-inner -->
    </div>
    <!--/.navbar -->


    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - HrPortal</p>
        </footer>
    </div>

 
   
    

</body>
</html>
