<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
   
    <title>@ViewData["Title"] - HrPortal</title>

    <link href="~/maruti/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/maruti/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css" />



    <style>

        .logo {
            float: left;
            width: 80px;
            height: 10px;
            margin: 0px 0px;
        }

      .nav-collapse{
                
      }

    </style>



</head>
<body style="background-image:url(/maruti/img/background.png)">

    <div class="navbar navbar-default">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                
                <div class="logo"><img src="~/maruti/img/logo.png" /></div>
                <div class="nav-collapse active">               
                    <ul class="nav">                       
                        <li><a asp-controller="" asp-action="Index"><i class="icon-home icon-black"></i>Ana Sayfa</a></li>
                        <li class="divider-vertical"></li>
                        <li><a asp-controller="Jobs" asp-action="Index"><i class="icon-file icon-black"></i>İş ilanları</a></li>
                        <li class="divider-vertical"></li>
                        <li><a asp-controller="Resumes" asp-action="Index"><i class="icon-search icon-black"></i>Özgeçmişler</a></li>
                        <li class="divider-vertical"></li>
                        <li><a asp-controller="Companies" asp-action="Index"><i class="icon-share icon-black"></i>Firmalar</a></li>
                        <li class="divider-vertical"></li>
                        <li><a asp-controller="Users" asp-action="Index"><i class="icon-user icon-black"></i>Kullanıcılar</a></li>
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genel Ayarlar <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-controller="Languages" asp-action="Index">Diller</a></li>
                                <li><a asp-controller="Occupations" asp-action="Index">Meslekler</a></li>
                                <li><a asp-controller="Skills" asp-action="Index">Yetkinlikler</a></li>                              
                                <li><a asp-controller="Tags" asp-action="Index">Etiketler</a></li>
                                <li><a asp-controller="Locations" asp-action="Index">Konumlar</a></li>
                            </ul>
                        </li>
              
                        

                    </ul>
                    <div class="btn-group pull-right">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i>Admin<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">                                                        
                            <li><a asp-controller="" asp-action="Index" ><i class="icon-share"></i>Çıkış Yap</a></li>
                        </ul>
                    </div>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </div>
        <!--/.navbar-inner -->
    </div>
    <!--/.navbar -->


    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - HrPortal</p>
        </footer>
    </div>
    <script src="~/maruti/js/jquery.min.js"></script>
    <script src="~/maruti/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/dataTables.jqueryui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
    @RenderSection("scripts", required: false);

</body>
</html>
